<div class="card">
  <div class="card-img-wrapper">
    <img class="card-item-img" src="assets/Images/fooditem.png" />

      <ul class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
          <button class="btn btn-primary">E</button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary">C</button>
        </li>
      </ul>

  </div>

  <div class="card-body p-2">
    <h1>{{ fooditem.Name }}</h1>
    <h3>{{ fooditem.Type }}</h3>
    <h4>{{ fooditem.Price }}</h4>
  </div>
</div>
