<p>
  property-detail works!
  <span>Selected food item id is : {{foodItemId}}</span>
  <button class="btn btn-primary" (click)="onSelectNext()">Select Next Item</button>
</p>



<br/>

<button class="btn btn-primary" routerLink="/item-details/1">1</button>
<button class="btn btn-primary" routerLink="/item-details/2">2</button>
<button class="btn btn-primary" routerLink="/item-details/3">3</button>
<button class="btn btn-primary" routerLink="/item-details/4">4</button>
<button class="btn btn-primary" routerLink="/item-details/5">5</button>
